@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

:root {
    --drk: rgb(54,54,54);
    /* rgb(173,16,14) */
    --drk-red: rgb(146,12,31);
}

* {
    font-family: 'Bungee Hairline', cursive;
    background-color: var(--drk);
    overflow: hidden;
}

.has-text-dark-red {
    color: var(--drk-red);
}


.input-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.input {
    width: 50%;
    
}

h4 {
    font-weight: bold;
}

a {
    margin: 25px;
    color: white;
}

.ui-datepicker {
    border-radius: 12px;
    border: 2px solid white;
}

table th, td {
    color: white;
}

.ui-datepicker-month, .ui-datepicker-year {
    color: var(--drk-red);
    font-weight: bold;
    font-size: 30px;
    font-family: 'Bungee Hairline', cursive;
}

.ui-state-default:hover {
    color: var(--drk-red);
    font-weight: bold;
}

.ui-icon {
    font-size: 20px;
}

.ui-datepicker-header, tr {
    text-align: center;
    line-height: 2;
}

p {
    margin: 10px;
}

.results {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.brew-results {
    width: 40%;
    margin: 0 auto;
}

.event-results {
    width: 70%;
    margin: 0 auto;
}

.event-results, .brew-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 12px;
    border: 2px solid lightgray;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.card h4, .card a {
    background-color: white;
}

.card img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}