@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

:root {
    --drk: rgb(54, 54, 54);
    /* rgb(173,16,14) */
    --drk-red: rgb(146, 12, 31);
}

* {
    font-family: 'Bungee Hairline', cursive;
    background-color: var(--drk);
    overflow: hidden;
}

.hide {
    display: none;
}

.has-text-dark-red {
    color: var(--drk-red);
}


.input-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.input {
    width: 50%;

}

.category {
    color: white;
}

.category:hover {
    color: var(--drk-red);
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

a {
    margin: 25px;
    color: white;
}

.ui-datepicker {
    border-radius: 12px;
    border: 2px solid white;
}

table th,
td {
    color: white;
}

.ui-datepicker-month,
.ui-datepicker-year {
    color: var(--drk-red);
    font-weight: bold;
    font-size: 30px;
    font-family: 'Bungee Hairline', cursive;
}

.ui-state-default:hover {
    color: var(--drk-red);
    font-weight: bold;
}

.ui-icon {
    font-size: 20px;
}

.ui-datepicker-header,
tr {
    text-align: center;
    line-height: 2;
}

p {
    margin: 10px;
}

.results {
    display: flex;
    justify-content: center;
    align-items: flex-start;


}

.brew-results {
    width: 40%;
    margin: 0 auto;
}

.event-results {
    width: 70%;
    margin: 0 auto;
}

.event-results,
.brew-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 12px;
    border: 2px solid lightgray;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.card h4,
.card a {
    background-color: white;
}

.card img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 12px;
    border: 2px solid lightgray;
    margin: 5px;
    padding: 5px;
    text-align: center;
}



.radio-wrapper input {
    opacity: 0;
}

.radio-wrapper label:hover {
    color: var(--drk-red);
    font-weight: bold;
    cursor: pointer;
}

/* 
.radio-wrapper label {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}

.radio-wrapper label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: var(--drk);
    border: 1px solid var(--drk-red);
    position: absolute;
    top: -4px;
    left: -30px;
}

.radio-wrapper label::before {
    border-radius: 50%;
}

.radio-wrapper label::after {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--drk-red);
    position: absolute;
    left: -29px;
    top: -3px;
    background-image: radial-gradient(circle, var(--drk-red), var(--drk));
}

.radio-wrapper input + label::after {
    content: none;
}

.radio-wrapper input:checked + label::after{
    content: "";
} */