@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');


:root {
    --drk: rgb(54, 54, 54);
    /* rgb: (173,16,14); */
    --drk-red: rgb(146, 12, 31);
}

* {
    font-family: 'Bungee Hairline', cursive;
    background-color: var(--drk);
}

html {
    background-color: var(--drk);
}

.navbar {
    background-color: var(--drk);
}

.roses {
    color: white;
}

.roses:hover {
    color: var(--drk-red);
    font-weight: bold;
}

.new-search, .warning {
    color: white;
}

.new-search:hover, .warning:hover {
    color: var(--drk-red);
    font-weight: bold;
}

button {
    cursor: pointer;
}

.has-text-dark-red {
    color: var(--drk-red);
}

/* .card {
    background-color: var(--drk);
    border: solid #ffffff;
} */

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 12px;
    border: 2px solid lightgray;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: var(--drk);
}

.card:hover {
    border: 2px solid var(--drk-red);
}

.card h4,
.card a {
    background-color: var(--drk);
}

.card img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}


/* Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    font-family: 'Bungee Hairline', cursive;
}

/* The container */
.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--drk);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* inside the dropdown */
.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--drk-red);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* background color of the content in dropdown */
.dropdown:hover .dropbtn {
    background-color: var(--drk);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 12px;
    border: 2px solid lightgray;
    margin: 5px;
    padding: 5px;
    text-align: center;
}