@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');


:root {
    --drk: rgb(54, 54, 54);
    /* rgb: (173,16,14); */
    --drk-red: rgb(146, 12, 31);
}

* {
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Rock Salt', cursive;
    font-family: 'Bungee Hairline', cursive;
    background-color: var(--drk);
}

html {
    background-color: var(--drk);
}


button {
    cursor: pointer;
}

.has-text-dark-red {
    color: var(--drk-red);
}

.card {
    background-color: var(--drk);
    border: solid #ffffff;
}




.time {}


.location {}


/* Dropdown Button */
.dropbtn {
    background-color: var(--drk);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--drk);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* inside the dropdown */
.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--drk-red);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* background color of the content in dropdown */
.dropdown:hover .dropbtn {
    background-color: var(--drk);
}