@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');


 :root {
    --drk: rgb(54,54,54); 
    /* rgb: (173,16,14); */
     --drk-red: rgb(146,12,31);
}

* { 
     font-family: 'Advent Pro', sans-serif; 
     font-family: 'Rock Salt', cursive; 
     font-family: 'Bungee Hairline', cursive;
     background-color: var(--drk);
}

button {
    cursor: pointer;
}

.has-text-dark-red {
    color: var(--drk-red);
}

